html{
	font-size:10px;
	font-family: Arial, "微软雅黑";
	margin:0;
	padding:0;
	background: rgb(249, 249, 249) none repeat scroll 0 0;
}
html a{
	text-decoration: none;
}
html a:hover{
	text-decoration: none;
}
html a:visited{
	text-decoration: none;
	color:rgb(0, 57, 241);
}
img{
	margin:0;
	padding:0;
}

.banner{
	height: 350px;
    margin: 0 auto;
    text-align: center;
    width: 980px;
}
.banner img{
	background-repeat: no-repeat;
    opacity: 0.8;
    width: 100%;
}

#content{
	font-size:1.4rem;
	width:980px;
	margin:0 auto;
}

#content .first_title{
	font-size:1.6rem;
}


#content .left_menu{
	float: left;
    width: 250px;
    margin-right: 50px;
}

.left_menu #avatar{
	width:140px;
	height:140px;
	border-radius: 6px;
}

.left_menu .about_me{
	vertical-align: middle;
	text-align: left;
}

.left_menu .about_me label{
	font-size:1.2rem;
	color:#333;
}
.left_menu .article_list{
	margin-top:30px;
}
.left_menu ul{
	padding-left: 17px;
}

#content .right_content{
	float:right;
	width:660px;
	padding:10px;
	padding-top:0;
}

#content .article_time{
	font-size:1.2rem;
	width:90px;
	display:inline-block;
}

.blog_content{
	font-size:1.4rem;
}

.blog_content p{
	text-indent: 2.8rem;
}