html{
	font-size:10px;
	margin:0;
	padding:0;
	background: #eee;
}
html h1,h2,h3,h4,h5,h6{
	font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-weight: 100;
    color: #000;
    line-height: 1.35;
}
html i{
    text-transform: lowercase;
    color: #1abc9c;
}
body{
	margin:0;
	padding:0;
	color:#333;
	font:300 1rem/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
	width:90%;
	max-width: 960px;
	margin:3em auto 0;
	border:1px solid #ddd;
	background: #fff;
	padding-top:2rem;
}
html a, a:hover, a:visited{
	text-decoration: none;
	border-bottom: 1px solid #1abc9c;
}

img{
	margin:0;
	padding:0;
}

#content{
	font-size:1.4rem;
	margin:0 auto;
	padding:8% 20%;
}

#tagline{
	color: #999;
    font-size: 1.6rem;
    margin: 1.6rem 0 3.2rem;
    padding-bottom: 3.2rem;
    border-bottom: 3px double #eee;
}

#avatar{
	margin-left:10px;
}

.about_me{
	vertical-align: middle;
	text-align: center;
	margin-left:10px;
	text-transform: lowercase;
    color: #1abc9c;
    font-size:1.6rem;
}

.blog_content{
	font-size:1.6rem;
}

.blog_content p{
	text-indent: 3.2rem;
}

.article_title{
	font-size:1.6rem;
}

/*@media screen and (max-width:750px){
	#content .right_content{
		padding:10px;
		padding-top:0;
		margin-left: 0;
	}

	#content .left_menu{
		float: none;
    	width: 100%;
	}
}*/