<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/page.css">
</head>
<body>
<div id="content">
	<h1>西伯利亚懒猪</h1>
	<h2 id="tagline">这里是一只迷惘的猪之人生旅行心得</h2>
	{{ content }}
</div>
</body>
</html>
